
.input_search {
  
  position: relative;
  width: 100%;
  max-width: 664px;
  margin-bottom: 45px;
  
  input {
    border: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    width: 100%;
    padding: 21px 160px 21px 24px;
    border-radius: 24px;
  }

  .btn {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 24px;
    padding: 13px 46.5;
    margin: 8px;
    border: none;
    background-color: var(--accent-background);
    color: var(--text-secondary);
    font-weight: 600;
  }
}