:root.dark {
  --background-card: transparent;
  --color-background: #222222;
  --accent-background: #D6F379;
  --text-primary: #FFFFFF;
  --text-secondary: #000000;
  --text-accent: #D6F379;
  --text-danger: #E3513D;
  --danger-background: #E3513D;
  
}