:root.light {
  --background-card: #949494;
  --color-background: #F5F5F5;    
  --accent-background: #D6F379;     
  --text-primary: #333333;          
  --text-secondary: #000000;       
  --text-accent: #D6F379;        
  --text-danger: #D32F2F;          
  --danger-background: #FFCDD2;     
}
